
* {
	padding: 0;
	margin:0;
}

body {
	background: rgb(241,241,241);
	font-family: Tahoma, Arial;
}

.main {
	padding:20px;
	width:960px;
	margin:0 auto;
	padding:15px;
}

.cont {
	margin: 15px;
	padding: 15px;
}

.today {

}

.wrapadd {
	width: 380px;
}

.wraptask {
	margin-bottom: 20px;
	width: 380px;
}

.taskone {
	background: rgb(255,255,255);
	border-bottom: solid 1px #e5e5e5;
	padding:10px 7px;
	margin-bottom: 5px;
}

.checki {
	text-decoration: none;
	border: 0;
}

.checktask {
	width:30px;
}

.task {
	display: inline-block;
	font-size:16px;
	color: rgb(81,81,81);
	margin-left: 5px;
}

.taskdone {
	text-decoration: line-through;
}

.addtask, .addtask:active, .addtask:visited {
	display: inline-block;
	width: 50px;
	height:25px;
	padding: 5px;
	background: rgb(255,255,255);
	text-decoration: none; 
	color:rgb(79,79,79);
	text-align: center;
	vertical-align: justify;
	font-weight: bold;
	border-bottom: solid 1px #e5e5e5;
}

.addtask:hover {
	background: rgb(30,152,87);
	color:rgb(255,255,255);
}

.inputask {
	width:300px;
	font-size: 14px;
	padding: 6px 0 10px 10px;
}